.jsTokenField  * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
				
	-webkit-box-sizing:padding-box;
	-moz-box-sizing: padding-box;
	-ms-box-sizing: padding-box;
	box-sizing: padding-box;
	
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.jsTokenField {
    display: block;
    border:1px #c2ebff solid;
    width:480px;
    min-height:7em; 
    border-radius: 3px;
    text-align: left;
    padding:3px;
    background-color: #FFFFFF;
	-webkit-transition:.1s ease-in-out;
	-moz-transition:.1s ease-in-out;
	transition:.1s ease-in-out;
}

.jsTokenField:hover {
    cursor: text;
}

.jsTokenField.focus {
	-webkit-box-shadow: 0px 0px 3px 1px #c2ebff;
	-moz-box-shadow: 0px 0px 3px 1px #c2ebff;
	box-shadow: 0px 0px 3px 1px #c2ebff;
}

.jsTokenField input[type=text] {
	display: inline-block;
	border:none;
	background-color: #FFFFFF;
	width:100%;
	margin:0;
    transition: none;
    border-radius:3px;
    height:2em;
    vertical-align: top;
    font-size: 1em;
}

.jsTokenField input[type=text]:focus {
	outline:none;
	border:none;
}

.jsTokenField .tokenWrapper {
    padding-right: 3px;
    display: inline-block;
    margin:0;
}

.jsTokenField .token {
	border-radius: 3px;
	padding-left:5px;
	padding-right:30px;
	height:35px;
	color:#404040;
    display: table-cell;
    vertical-align:middle;
    word-break: break-all;
    position:relative;
}

.jsTokenField .token.valid {
    background-color: #ceff9c;
}

.jsTokenField .token.valid:hover {
    background-color: #9dd960;
}

.jsTokenField .token.invalid {
    background-color: #ff9a9a;
}

.jsTokenField .token.invalid:hover {
    background-color: #ff6060;
}

.jsTokenField .close {
	-webkit-transition:.1s ease-in-out;
	-moz-transition:.1s ease-in-out;
	transition:.1s ease-in-out;
	display: inline-block;
	margin-left: 0.5em;
	height:20px;
	width:20px;
    line-height: 20px;
    font-size: 0.8em;
    top:calc(50% - 10px);
    right:3px;
    position:absolute;
    text-align: center;
	border-radius: 10px;
}

.jsTokenField  .token.valid .close {
	color:#e7ffcf;
	cursor: pointer;
	background-color: #a7e965;
}

.jsTokenField  .token.valid .close:hover {
	cursor: pointer;
}

.jsTokenField  .token.valid .close:active {
	background-color: #7eb14a;
}

.jsTokenField  .token.invalid .close {
	color:#ffd7d7;
	cursor: pointer;
	background-color: #ff7c7c;
}

.jsTokenField .token.invalid .close:hover {
	cursor: pointer;
}

.jsTokenField .token.invalid .close:active {
	background-color: #b71313;
}

